.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #111827;
    color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar li{
    cursor: pointer;
}