.navbar {
  position: sticky;
  top: 0;

  background: #111827;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;

  z-index: 1000;
}

.navbar h2 {
  color: #38bdf8;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #38bdf8;
}