.projects {
  background: white;
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
}

.projects-container {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

  gap: 25px;
}

.project-card {
  background: #f8fafc;

  padding: 25px;

  border-radius: 12px;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h4 {
  color: #38bdf8;
}

.project-card a {
  display: inline-block;

  margin-top: 15px;

  color: white;
  background: #111827;

  padding: 10px 15px;

  border-radius: 6px;
}